{{!-- Contains the entire /battle interface --}}
<div id="battle-container">
    {{!-- Contains the upper portion of the battle interface (enemy picture and stats + the battle console) --}}
    <div id="battle-top-section">
        <div id="battle-top-left">
            {{!-- This section will contain limited information about the enemy --}}
            <div id="enemy-stats">
                    <p id="enemy-name">Evil {{compDev.name}}</p>
                    <p id="enemy-level">LEVEL: {{compDev.level}}</p>
                    <p id="enemy-hp">HP: {{compDev.hp}}</p>
            </div>
            {{!-- Visual representation of the enemy. --}}
            <div id="enemy-image">
                <img src="\images\code-emperor.gif" alt="#">
            </div>
        </div>
        {{!-- This sections will contain the console, showing messages when things happen.--}}
        <div id="battle-top-right">
            <div id="battle-console"></div>
        </div>
    </div>
    {{!-- Contains the lower portion of the battle interface (user moves/options + user stats) --}}
    <div id="battle-bottom-section">
        <div id="battle-bottom-left">
            {{!-- This section contains all of the players options for moves. --}}
            <div id="player-moves">
            </div>
        </div>
        <div id="battle-bottom-right">
            {{!-- This section will contain information about the player's dev. --}}
            <div id="player-stats">
                <p id="player-level">LEVEL: {{userDev.level}}</p>
                <p id="player-hp">HP: {{userDev.hp}}</p>
                <p id="player-atk">ATK: {{userDev.attack}}</p>
            </div>
        </div>
    </div>
</div>
<script src="/js/battle.js"></script>