<h1>This is my profile page! Welcome back, {{name}}</h1>
<h2 id="dev">My Devs:</h2>
{{#each Devs}}
    <div class="card">
        <a href="/devs/{{id}}"><h3>{{name}}</h3></a>
        <p>Level: {{level}}</p>
        <p>Current Experience Points: {{current_exp}}</p>
        <p>Alignment: {{alignment}}</p>
        <p>Health Points: {{hp}}</p>
        <p>Attack: {{attack}}</p>
        <p>Speed: {{speed}}</p>
        <button class="delBtn" data-devId="{{id}}">Delete Me</button>
        <hr>
    </div>
{{/each}}

<script src="/js/profile.js"></script>